body {
	margin:0px;
	padding:0px 10em 0px 0px;
//	overflow:hidden;
//	background-color: #808080;
	background:url("../img/background.png");
//	background: -moz-linear-gradient(#101010,white);
//	background: -webkit-linear-gradient(#101010,white);
	overflow-y: scroll;
	font-family: Verdana, Geneva, sans-serif;
	font-size:10pt;
	color: #FFFFFF;
}


::-webkit-scrollbar {
    width:10px;
}
::-moz-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
    background:#000000;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    background: #404040;
}

#wrapper {
	width:95em;
	min-height: 80em;
	background-color:rgba(0,0,0, .8);
	//border-radius:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	margin-bottom:10em;
	padding:10px;
	//border-left:1px solid #CCC;
	//border-right:1px solid #CCC;
}

#wrapper2 {
	width: 95em;
	margin-left:auto;
	margin-right:auto;
//	border-left:1px solid #CCC;
//	border-right:1px solid #CCC;
	background-color:#000000;
	margin-top: 10em;
}
#wrapper3 {
    width: 95em;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10em;
    color: #FFFFFF
}

#smallProfile {
    width: 18%;
    height: 55em;
    //border-radius:50px;
    background-color: rgba(0,0,0, .8);
    float: left;
    padding:10px;
}
#bigProfile {
    padding:10px;
    width: 77%;
    height:55em;
    //border-radius:50px;
    float: right;
    background-color: rgba(0,0,0, .8);
}

#wrapper3 h2 { color: #FFFF00; }
#wrapper3 h3 { color:#FFFF00; }
#header {
	position:fixed;
	top:0px;
	left:0px;
	color:#000000;
	width:100%;
	height:100px;
	margin:0px;
	padding-top:25px;
	padding-left:10px;
	overflow:hidden;
}

#logo{
    padding: 8px;
    background-color: #000000;
    border-radius: 50px;
    -webkit-transform: rotate(-10deg);
}

#editpropic {
    float: left;
}


#nav {
	position:fixed;
	top:1px;
	left:0px;
	color:#FFFFFF;
	padding-top:8px;
	width:100%;
	height:33px;
	z-index: 999;
}

#nav a {
	color:#FFFFFF;
	display:inline;
	text-decoration:none;
	float:right;
	padding:8px;
	background-color:#000000;
	border-radius: 20px;
}
 
#nav a:hover {
	background-color:#FFFFFF;
	color:#000000;
	-moz-transform: scale(1.3);
	-webkit-transform:scale(1.3);
}
#footer a{
	color:#FFFFFF;
	display:inline;
	text-decoration:none;
	float:right;
	padding:8px;
	background-color:#000000;
	border-radius: 20px;
}
#footer a:hover{
	background-color:#FFFFFF;
	color:#000000;
	-moz-transform: scale(1.4);
	-webkit-transform:scale(1.4);
}

#view {
	height:80%;
	margin-top:35px;
	padding:0px;
	overflow:auto;
	//border-radius: 50px;
}

#sidebar {
	color:#FFFFFF;
        width:15%;
	height:100%;
	float:left;
	border-right:1px solid #CCC;
}

#sidebarLinks {
	margin-left:40px;
	margin-right:40px;
	width:auto;
	list-style-type:none;
	padding:3px;
}

#sidebarLinks li {
	border-style:inset;
	border-color:#808808;
	width:120px;
	padding-top:0px;
	padding-bottom:px;
	text-shadow:-1px -1px 0 black;
	
}

#sidebarLinks a:link,
#sidebarLinks a:visited {
	display:block;
	width:120px;
	font-weight:bold;
	font-size:20px;
	color:#FFFF00;
	background-color:#000000;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
}

#sidebarLinks a:hover {
	background-color:#888888;
}

#content {
        color:#FFFFFF;
	width:84%;
	float:right;
	height:100%;
}

#content a:link {
	font-weight:bold;
	color:#FFFF00;
}
#content a:visited {
	color:#FFFF00;
}

#content a:hover {
	color:#0000FF;
}
#footer {
	clear:both;
	height:33;
	padding: 8px;
	position: fixed;
	bottom: 0px;
}

#editProfile{
	width:95em;
	height:55em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	//border-left:1px solid #CCC;
	//border-right:1px solid #CCC;
	padding: 7px 0px 10px 30px;
}

#uploadscn{
	width:95em;
	min-height:55em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	margin-bottom: 10em;
	padding: 7px 0px 10px 30px;
}

#friendsList{
	width:95em;
	min-height:55em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	margin-bottom: 10em;
	padding: 7px 0px 10px 30px;
}

#gallery{
	width:95em;
	min-height:55em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	margin-bottom: 10em;
	padding: 7px 0px 10px 30px;
}

#image{
	width:95em;
	min-height:60em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	margin-bottom: 10em;
	padding: 7px 0px 10px 30px;
	text-align: center;
}

#signup {
	float:left;
	width: 37em;
//	position: relative;
	padding: 10px 0px 10px 30px;
//	padding-left:75px;
//	padding-right: 75px;
	color:#FFFFFF;
	background-color: rgba(0,0,0, .8);
	border-radius: 50px;
}
#aboutUs{
	width:95em;
	height:55em;
	background-color:rgba(0,0,0, .8);
	color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10em;
	padding: 7px 0px 10px 30px;
}
#aboutUs h2 {
    color:#FFFF00;
}

#login {
    float: right;
    padding: 15px;
    color: #FFFFFF;
    background-color:#000000;
    border-radius: 20px;
    font-size:10pt;
    position:fixed;
    top:1px;
    right:0px;
 //   height:33px;
    z-index: 999;
}

#info {
	float:right;
	width: 50%;
//	right:200px;
	color:#FFFFFF;
	font-size: 10pt;
//	margin:auto;
//	position:absolute;
	right:0em;
}

#signup h2 {
	color:#FFFF00;
}

#editProfile h2 {
    color: #FFFF00;
}

#uploadscn h2 {
    color: #FFFF00;
}
#friendsList h2 {
    color: #FFFF00;
}
#info h2 {
	color:#FFFF00;
//	font-size: 15pt;
}

#headings {
	color:#FFFF00;
}

#headings td {
	margin:auto;
	width:200em;
	text-align:center;
}
#notifications {
	float:left;
	width:37em;
	position:relative;
}

.notification {
	color:white;
	border-radius:10px;
	padding:30px 10px 30px 10px;
	margin:10px;
	background-color:#000000;
	font-size:14px;
	border-style:double;
	border-color:#FFFF00;
}

#suggestions {
	padding-right:100px;
	float:right;
	width 70%;
	position:relative;
	
}

.suggestion {
	color:white;
	border-radius:10px;
	padding:30px 80px 30px 10px;
	margin:10px;
	background-color:#000;
	font-size:14px;
	border-style:double;
	border-color:#FFFF00;
}

/**** On successful sign up ****/
#success {
	text-align:center;
	color:#FFFF00;
}

#success a:link a:visited {
	color:#FFFF00
}

#success a:visited {
	color:#FFFF00;
}
#success a:hover {
	color:#FFFFFF
}
/**** End on successful sign up ****/

input {
	width:200px;
}
