body {
	margin:0px;
	padding:75px 0px 0px 0px;
//	overflow:hidden;
//	background-color: #808080;
	background:url("../img/background.png");
//	background: -moz-linear-gradient(#101010,white);
//	background: -webkit-linear-gradient(#101010,white);
	overflow-y: scroll;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
}


::-webkit-scrollbar {
    width:10px;
}
::-moz-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
    background:#000000;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    background: #404040;
}

#wrapper {
	width:70%;
	height:10000;
	background-color:#000000;
	border-radius:50px;
	margin-left:auto;
	margin-right:auto;
	bottom:50px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}

#wrapper2 {
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
//	border-left:1px solid #CCC;
//	border-right:1px solid #CCC;
	background-color:#000000;
	margin-top:100px;
}

#header {
	position:fixed;
	top:0px;
	left:0px;
	color:#000000;
	width:100%;
	height:100px;
	margin:0px;
	padding-top:25px;
	padding-left:10px;
	overflow:hidden;
}

#logo{
    padding: 8px;
    background-color: #000000;
    border-radius: 50px;
    -webkit-transform: rotate(-10deg);
}

#nav {
	position:fixed;
	top:1px;
	left:0px;
	color:#FFFFFF;
	padding-top:8px;
	width:100%;
	height:33px;
	z-index: 999;
}

#nav a {
	color:#FFFFFF;
	display:inline;
	text-decoration:none;
	float:right;
	padding:8px;
	background-color:#000000;
	border-radius: 20px;
}
 
#nav a:hover {
	background-color:#FFFFFF;
	color:#000000;
	-moz-transform: scale(1.3);
	-webkit-transform:scale(1.3);
}
#footer a{
	color:#FFFFFF;
	display:inline;
	text-decoration:none;
	float:right;
	padding:8px;
	background-color:#000000;
	border-radius: 20px;
}
#footer a:hover{
	background-color:#FFFFFF;
	color:#000000;
	-moz-transform: scale(1.4);
	-webkit-transform:scale(1.4);
}

#view {
	height:80%;
	margin-top:35px;
	padding:0px;
	overflow:auto;
	border-radius: 50px;
}

#sidebar {
	color:#000000;
	width:15%;
	height:100%;
	float:left;
	border-right:1px solid #CCC;
}

#content {
	color:#000000;
	width:84%;
	float:right;
	height:100%;
}

#footer {
	clear:both;
	height:33;
	padding: 8px;
	position: fixed;
	bottom: 0px;
}

#signup {
	float:left;
	padding: 5px 75px 5px 25px;
	color:#FFFFFF;
	background-color:#000000;
	border-radius: 50px;
	font-size: 10pt;
}

#info {
	float:right;
	color:#FFFFFF;
	font-size: 10pt;
}
#signup h2 {
	color:#FFFF00;
}

#info h2 {
	color:#FFFF00;
}
